body {
    font-family: Arial;
    background-color: #1e1e1e;
    color: white;
    padding: 30px;
}

.container {
    max-width: 800px;
    margin: auto;
}

textarea {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #2d2d2d;
    color: white;
    border: none;
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

#resultBox {
    margin-top: 20px;
    padding: 15px;
    background-color: #2d2d2d;
}
.error {
    color: #ff4d4d;
}

.explanation {
    color: #ffd166;
}

.fixed {
    color: #06d6a0;
}

pre {
    background-color: #111;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
}

code {
    color: #00ffcc;
    font-family: monospace;
}
select {
    width: 200px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}